<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">

        <h2 class="text-center blue">NEW LIST</h2>

        <%= form_for List.new do |f| %>

        <div class="form-group">
            <%= f.label :name %><br>
            <%= f.text_field :name, class: "form-control"%>
        </div>

        <div class="form-group">
            <%= f.label :comment %><br>
            <%= f.text_area :comment, class: "form-control"%>
        </div>

        <div class="form-group">
            <%= link_to 'Cancel', lists_path , class:"btn btn-default"%>
            <%= f.submit class:"btn btn-default" %>
        </div>

        <% end %>

    </div>
</div>