<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">

        <h1>
            <%= @list.name%> 
            <%= link_to '', edit_list_path(@list), class:"btn btn-primary glyphicon glyphicon-pencil"%>
            <%= link_to 'ADD ITEM', new_list_item_path(@list), class:"btn btn-primary"%>
        </h1>

        <% @list.items.each do |item| %>
            <div><hr>
                <h3><a href="<%=item.url%>"><%=item.title%></a>
                  <div class="actions pull-right">
                    <%= link_to '', edit_list_item_path(@list,item), class:"btn btn-primary glyphicon glyphicon-pencil"%>
                    <%= link_to '', list_item_path(@list, item), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default glyphicon glyphicon-remove"%>
                  </div>
                </h3>
                <p><%=item.comment%></p>
                <p>$<%=item.price%></p>
            </div>
            <% end %>

    </div>
</div>