<% if @user %>
<%= render partial: "shared/form_error_list", locals: { model: @user } %>
<% end %>

<div class="row">
    <div class="col-md-5 border_box">

        <h1>Registration</h1>

        <%= form_for User.new do |f| %>

        <div class="form-group">
            <%= f.label :name %><br>
            <%= f.text_field :name, class: "form-control"%>
        </div>

        <div class="form-group">
            <%= f.label :email %><br>
            <%= f.text_field :email, class: "form-control"%>
        </div>

        <div class="form-group">
            <%= f.label :password %><br>
            <%= f.password_field :password, class: "form-control"%>
        </div>

        <div class="form-group">
            <%= f.label :password_confirmation %><br>
            <%= f.password_field :password_confirmation, class: "form-control"%>
        </div>

        <div class="form-group">
            <%= f.submit class:"btn btn-default" %>
        </div>

        <% end %>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 border_box">

        <h1>Login</h1>

        <%= form_tag sessions_path do %>

        <div class="form-group">
            <%= label_tag :email %>
            <%= text_field_tag :email ,"", class: "form-control" %>
        </div>
        <div class="form-group">
            <%= label_tag :password %>
            <%= password_field_tag :password,"", class: "form-control" %>
        </div>
        <div class="form-group">
            <%= submit_tag "Login", class:"btn btn-default" %>
        </div> 

        <% end %>
    </div>
    <div class="col-md-1"></div>
</div>
